<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>People directory</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body ng-app="pDirectory">

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 Banner">
        </div>

        <nav class="{{active}} menu" ng-click="$event.preventDefault()">


            <div  class="btnMenu">
                <a href="#" class="home" ng-click="active='home'"><p> Demo's home </p></a>
            </div>

            <div  class="btnMenu">
                <a href="#" class="home" ng-click="active='home'"><p> People directory </p></a>
            </div>
            <div  class="btnMenu">
                <a href="#" class="home" ng-click="active='home'"><p> jobs manager </p></a>
            </div>
            <div  class="btnMenu">
                <a href="#" class="home" ng-click="active='home'"><p> statistics </p></a>
            </div>



        </nav>






    </div>

</div>




<script src="js/angular.min.js"></script>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="app/app.js"></script>
</body>
</html>