/* css bartop*/
.Banner {
    margin: 0;
    width: 100%;
    height: 91px;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25), inset 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.menu{
    background-image: url("../img/menu.png");
    display: inline-block;
    width: 100%;
    height: 36px;
}
/* css bouton */
.btnMenu {
    background-image: -moz-linear-gradient( 90deg, rgb(97,146,39) 0%, rgb(135,184,33) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(97,146,39) 0%, rgb(135,184,33) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(97,146,39) 0%, rgb(135,184,33) 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
    display: inline-block;
    width: auto;
    height: 35px;
    margin-left: -5px;
    transition: background-image 3s, transform 3s;

}
.btnMenu > a {
    text-decoration: none !important;
    color: white;
}
.btnMenu:hover {
    background-image: -moz-linear-gradient( 90deg, #5b861f 0%, #396900 100%);
    background-image: -webkit-linear-gradient( 90deg, #5b861f 0%, #396900 100%);
    background-image: -ms-linear-gradient( 90deg, #5b861f 0%, #396900 100%);


}

.btnMenu > a:active .active  {
    border-radius: 12px;
    background-image:none;
}

.btnMenu > a > p{


    padding: 8px 12px 8px 12px;

}


.btnMenu:first-child {
    margin-left: 50px;
}

/* barmid */
.barmid{

    border-style: solid;
    border-width: 1px;
    border-color: rgb(232, 235, 232);
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20px;

    width: 290px;
    height: 500px;
    padding-bottom: 20px;
}
.Companies {
    font-size: 18px;
    font-family: "Calibri";
    color: rgb(50, 50, 50);
    line-height: 1.2;
    text-align: left;


}
.BtnAdd {
    background-image: url("../img/BtnAdd.png");
    background-repeat: no-repeat;
    cursor : pointer;
    width: 65px;
    height: 28px;
}
.btnRemove{
    cursor : pointer;
    background-image: url("../img/btnRemove.png");
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 10px;
    right: 90px;
    width: 80px;
    height: 35px;
}
.recherche{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
    width: 170px;
    height: 26px;


}
.recherche::-webkit-input-placeholder {
    font-size: 12px;
    font-family: "Calibri";
    color: rgb(153, 153, 153);
    line-height: 1.2;
    text-align: left;

}
.listItem {

    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0 0 10px;
    width: 261px;
    height: 420px;

}
.listItem > p{
    font-size: 12px;
    font-family: "Calibri";
    color: rgb(51, 51, 51);
    line-height: 2.25;
    height: 28px;
    cursor : pointer;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 0;
}
.listItem > p {
    font-size: 12px;
    font-family: "Calibri";

    line-height: 2.25;
    height: 28px;
    cursor : pointer;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 0;
}

.listItem > p:nth-child(2n+0) {
    border-radius: 3px;
    background-color: #f8f8f8;
}

/* css modal */ 

.modaldelete{
      border-radius: 0px;
    height: 230px;
    width: 450px;
}
.alert{
display: inline-block;
}
.alert > img{
 vertical-align: super !important;
}
.textalert{
display: inline-block;
}

.modaldelete > .headermodal{
      border-radius: 0px;
  padding: 30px 0px 0px 0px;
    height: 200px;
}
.modaldelete > .footermodal{
    padding: 20px 20px 0px 0px;
    text-align: right;
    height: 76px;
    background-color:#efefef;

}
.modaldelete > .footermodal > div{
display: inline-block;
margin-bottom: -10px;

}
.btndelete{
    background-image: url("../img/delete.png");
        background-repeat: no-repeat;
    width: 80px;
    height: 35px;

}

.modaladd{
    border-radius: 0px;
     height: 400px;
    width: 900px;
}
.modaladd>.modal-content{
    padding: 30px;
    border-radius: 0px;
     height: 550px;
    width: 800px;
}

.inputEmployee{
    margin-bottom: 40px;
}