<div class="barmid">
            <div class="row">
            <div class="col-md-4  bloc">
            <div class="header">
            <div class="row">
            <div class="col-md-offset-1 col-md-11">
            <p class="Companies">Departments</p>
            </div>
            <div class="col-md-offset-1 col-md-7">
            <input type="text" class="form-control recherche"  placeholder="Search a departments..." ng-model="rechercheD">
            </div>
            </div>
            </div>
            <div class="divmid">
            <div class="row centered">
            <div class=" col-md-12 centered">
            <div class="listItem">
            <p ng-repeat="y in departement | filter:rechercheD" ng-click="EmployeesSelect(y,$index)">{{y.name}}</p>
      </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div  class="btnRemove" ng-click="DepartmentsDelete()">
            </div>
            </div>